<html>
    <head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Clearfile</title>
        <link href="/static/style.css" rel="stylesheet"/>
        <script type="text/javascript" src="static/script.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row" id="clearfile-search-wrapper">
                <div class="col s12">
                    <input id="clearfile-search-input" type="text" onkeypress="return addResult(event)"/>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul id="clearfile-search-results">
                    </ul>
                </div>
            </div>
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large"><i class="material-icons">publish</i></a>
            </div>
        </div>
    </body>
</html>
