<html>
    <head>
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}">

        <!-- Compiled and minified JavaScript -->
        <script src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Clearfile</title>
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet"/>
        <script type="text/javascript">
          const SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right"><i class="reset-page material-icons">book</i></a>
                <form id="search-form" data-ajax="false" action="#">
                <div class="input-field">
                    <input id="clearfile-search-input" type="search">
                    <label class="label-icon" for="clearfile-search-input" id="search-label"><i class="material-icons">search</i></label>
                    <i class="reset-page material-icons">close</i>
                </div>
                </form>
            </div>
        </nav>
        <div class="container">
            <div class="row search-result-container">
                <div class="col s12 cards-container" id="clearfile-search-results">
                </div>
            </div>
            <div class="fixed-action-btn" >
                <a class="btn-floating btn-large modal-trigger accent-bg-colour" id="upload-button" href="#upload"><i class="material-icons">publish</i></a>
            </div>
            <div id="upload" class="modal">
                <div class="modal-content">
                    <form enctype="multipart/form-data" id="upload-form">
                        <div class="row">
                            <div class="input-field">
                                <input name="title" type="text" value=""/>
                                <label for="title">Title</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="file-field input-field">
                                <div class="btn accent-bg-colour">
                                    <span>Note</span>
                                    <input type="file" name="image" accept="image/*"/>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <a href="#!" id="form-upload-button" class="modal-action modal-close waves-effect waves-light btn accent-bg-colour">Upload</a>
                        </div>
                    </form>
                </div>
            </div>
            <div id="add-notebook" class="modal">
                <div class="modal-content">
                    <form id="notebook-form">
                        <div class="row">
                            <h4>Add Notebook</h4>
                            <div class="input-field">
                                <input name="name" type="text" value=""/>
                                <label for="name">Name</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" id="notebook-add-button" class="modal-action modal-close waves-effect waves-light accent-bg-colour btn">Add</a>
                        </div>
                    </form>
                </div>
            </div>
            <div id="edit-note" class="modal">
                <div class="modal-content">
                    <form id="update-form">
                        <div class="row">
                            <input name="title" type="text" value=""/>
                            <label for="title">Title</label>
                            <div id="edit-chip" class="chips chips-initial"></div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <a href="#!" id="modal-update-button" class="modal-action modal-close waves-effect waves-light accent-bg-colour btn">Update</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
